/* General rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */
main {
    height: calc(100vh - 56px);
    background-color: rgb(228, 243, 255);
}

.ms_container {
    padding: 50px 0;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
}

.cont-flex {
    display: flex;
    align-items: center;
}